<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/dashboard">
        <img src="/public/logo.png" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         
        </ul>
        <div>
            <a href="/users/login" class="btn btn-secondary">Login</a>
            <a href="/users/register" class="btn btn-outline-secondary">Become Organiser</a>
        </div>
      </div>
    </div>
  </nav>